/* You can add global styles to this file, and also import other style files */
@import './scss/base';
@import './scss/custom_material.scss';


html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(assets/images/Image3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.top {
    margin-top: 5%;
}

table {
    td {
        text-align: left;
        vertical-align: baseline;
    }
}

.container {
    display: flex;
    box-shadow: 0 1px 1px 2px rgb(223, 221, 221),
        0 1px 1px 1px rgb(223, 221, 221),
        0 1px 1px 1px rgb(223, 221, 221);
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}

.error-message {
    color: red;
    padding-left: 1rem;
}

.submit-button {
    width: 215px !important;
    margin: 0 10px;
}

table {

    td {

        text-align: left;

        vertical-align: baseline;

    }

}

.container {
    box-shadow: 0 1px 1px 2px rgb(223, 221, 221),
        0 1px 1px 1px rgb(223, 221, 221),
        0 1px 1px 1px rgb(223, 221, 221);
    display: flex;

    justify-content: center;

    /* align horizontal */

    align-items: center;

    /* align vertical */

}

.error-message {

    color: red;

    padding-left: 1rem;

}



.submit-button {

    width: 215px !important;

    margin: 0 10px;

}


