.attachment {
    display: inline-flex;

    .select-file-name {
        margin: 0 10px;
        display: block;
        width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.budgetCreation-button {
    width: 215px !important;
    color: white;
    margin: 20px 0 2rem 0;
    background-color: #004DA8;
}

.invalid-file-error {
    color: red;
    width: 235px;
    padding-left: 10px;
}

.datepicker {
    width: 212px;
    height: 20px;
}

.titlecard {
    margin-bottom: 20px;
}

.footer {
    margin-top: 300px;
}