<div class="center_div top">

    <mat-card class="container">

        <mat-card-header>

            <mat-card-title>Budget Creation</mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="createBudgetForm" id="budgetForm">

                <table>

                    <tr>

                        <!-- Budget Code -->

                        <td>

                            <mat-label>Budget Code</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="budgetCode" required>

                            </mat-form-field>

                        </td>

                        <!-- Budget Type -->

                        <td>

                            <mat-label>Budget Type</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <mat-select formControlName="budgetType">

                                    <mat-option value="option">Capex</mat-option>

                                    <mat-option value="option">Revenew</mat-option>

                                </mat-select>

                            </mat-form-field>

                        </td>

                    </tr>

                    <tr>

                        <!-- Budget Description -->

                        <td>

                            <mat-label>Budget Description</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <mat-select formControlName="budgetDescription">

                                    <mat-option value="option">Capex</mat-option>

                                    <mat-option value="option">Revenew</mat-option>

                                </mat-select>

                            </mat-form-field>

                        </td>

                        <!-- Amount-->

                        <td>

                            <mat-label>Amount</mat-label>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="amount" required>

                            </mat-form-field>

                        </td>

                    </tr>

                    <tr>
                        <!-- Created By  -->
                        <td>

                            <mat-label>Created By </mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="createdBy" required>

                            </mat-form-field>

                        </td>
                        <!-- Created Date -->
                        <td>

                            <mat-label>Modify By </mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="modifyBy" required>

                            </mat-form-field>

                        </td>

                    </tr>
                    <tr>
                        <!-- Modify By -->
                        <td>

                            <mat-label>Created Date</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline" class=date-picker>

                                <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                                    formControlName="createdDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>

                            </mat-form-field>

                        </td>
                        <td>
                            <!-- Modify Date -->
                            <mat-label>Modify Date </mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline" class=date-picker>

                                <input matInput [matDatepicker]="picker1" placeholder="Choose a date"
                                    formControlName="modifyDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>

                            </mat-form-field>

                        </td>
                    </tr>
                    <tr>
                        <!-- Remark -->
                        <td>

                            <mat-label>Remark</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="remark" required>

                            </mat-form-field>

                        </td>
                    </tr>
                </table>

            </form>

        </mat-card-content>

        <button matStepperPrevious mat-button style="color: white;" class="budgetCreation-button" (click)="budgetCreation()">Create
            Budget</button>

    </mat-card>

</div>