<app-navbar></app-navbar>
<div class="center_div top">
    <mat-card class="container">
        <mat-card-header>
            <mat-card-title class="titlecard">Budget Creation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createBudgetCreationForm" id="budgetCreationForm">
                <table>
                    <tr>
                        <td>
                            <mat-label>Budget Code</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">

                                <mat-select formControlName="budgetCode" [(ngModel)]="budgetCodeSelected">
                                    <mat-option *ngFor="let budgetCode of budgetCodeList let i = index"
                                        [value]="budgetCode">{{budgetCode}}</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </td>


                        <td>
                            <mat-label>Budget Category</mat-label>
                        </td>

                        <td>
                            <mat-form-field appearance="outline">

                                <mat-select formControlName="budgetCategoryName"
                                    [(ngModel)]="budgetCategoryNameSelected">

                                    <mat-option *ngFor="let budgetCategoryName of budgetCategoryNameList let i = index"
                                        [value]="budgetCategoryName">{{budgetCategoryName}}</mat-option>

                                </mat-select>

                            </mat-form-field>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <mat-label>Budget Sub-Category</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">

                                <mat-select formControlName="budgetSubCategoryName"
                                    [(ngModel)]="budgetSubCategoryNameSelected">

                                    <mat-option
                                        *ngFor="let budgetSubCategoryName of budgetSubCategoryNameList let i = index"
                                        [value]="budgetSubCategoryName">{{budgetSubCategoryName}}</mat-option>

                                </mat-select>
                            </mat-form-field>
                        </td>

                        <td>

                            <mat-label>Budget Type</mat-label>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="budgetType" required>

                            </mat-form-field>

                        </td>
                    </tr>
                    <tr>
                        <td>

                            <mat-label>Amount</mat-label>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="amount" type="number" [(ngModel)]="amounth" required>

                            </mat-form-field>

                        </td>

                        <td>

                            <mat-label>Amount In-words</mat-label>

                        <td>

                            <mat-form-field appearance="outline">
                                <input matInput formControlName="amountInWords" required>
                                {{amounth | amountToWord}}
                            </mat-form-field>

                        </td>
                    <tr>
                        <td>
                            <mat-label>Remark</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="remark" required>
                            </mat-form-field>
                        </td>
                    </tr>

                </table>
            </form>

        </mat-card-content>

        <button mat-button style="color: rgb(255, 255, 255);" class="budgetCreation-button"
            (click)="budgetCreation()">Budget Creation</button>

    </mat-card>
</div>