<app-home></app-home>
<div class="center_div top">
    <mat-card class="container">
        <mat-card-header>
            <mat-card-title class="titlecard">Budget Creation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createBudgetCreationForm" id="budgetCreationForm">
                <table>
                    <tr>
                        <td>
                            <mat-label>Budget Code</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="budgetCategoryName" required>
                                <mat-error>Minimum 4 characters required</mat-error>
                            </mat-form-field>
                        </td>
                        <td>

                            <mat-label>Budget Type</mat-label>

                        </td>
                        <td>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Capex</mat-radio-button>
                                <mat-radio-button value="2">Revenue</mat-radio-button>
                            </mat-radio-group>
                        </td>
                        
                    
                        
                    </tr>

                    <tr>

                        <td>
                            <mat-label>Budget Description</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">

                                <mat-select formControlName="budgetCategoryDescription">

                                    <mat-option *ngFor="let budgetCategoryName of budgetCategoryNameList" value="budgetCategoryNameList">{{budgetCategoryName}}</mat-option>
                                   

                                </mat-select>

                            </mat-form-field>
                        </td>
                        <td>

                            <mat-label>Amount</mat-label>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="amount" required>

                            </mat-form-field>

                        </td>

                        
                    </tr>
                    <tr>
                        <td>
                            <mat-label>Remark</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="remark" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    
                </table>
            </form>
        </mat-card-content>
        <button mat-button style="color: white;" class="budgetCreation-button"
            (click)="budgetCreation()">Budget Creation</button>
    </mat-card>
</div>
