<app-navbar></app-navbar>

<div class="center_div top">

    <mat-card class="container">

        <mat-card-header>
            <!-- title -->
            <mat-card-title>Budget Sub-Category Master</mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="budgetSubCategoryMasterForm">

                <table>

                    <tr>

                        <td>

                            <mat-label>Budget category name</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <mat-select formControlName="budgetCategoryName"
                                    [(ngModel)]="budgetCategoryNameSelected">

                                    <mat-option *ngFor="let budgetCategoryName of budgetCategoryNameList let i = index"
                                        [value]="budgetCategoryName">{{budgetCategoryName}}</mat-option>


                                </mat-select>

                            </mat-form-field>

                        </td>

                        <td>

                            <mat-label>BudgetCode</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="budgetCode" minlength="4" required>

                            </mat-form-field>

                        </td>
                    </tr>

                    <tr>
                        <td>

                            <mat-label>Budget Sub Category Name</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="budgetSubCategoryName"
                                    (keypress)="keyPressAlphanumeric($event)" required>
                                <mat-error>Please enter the sub caterory.</mat-error>
                            </mat-form-field>

                        </td>

                        <td>

                            <mat-label>Remark</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">
                                <textarea matInput style="resize:vertical" formControlName="remark"
                                    (keypress)="keyPressAlphanumeric($event)" (keyup)="autogrow()" rows="2"
                                    (click)="autogrow()" minlength="4" required></textarea>

                                <mat-error>Minimum 4 characters required</mat-error>
                            </mat-form-field>

                        </td>

                    </tr>

                    <td> <mat-checkbox formControlName="status" checked>Active</mat-checkbox></td>

                    <td>

                        <mat-label>Budget Type</mat-label>

                    </td>
                    <td *ngFor="let budget of budgetType">
                        <input type="radio" formControlName="budgetType" name="budgetType" value="{{budget}}"
                            (change)="selectedValues($event)">{{budget}}
                    </td>

                </table>

            </form>

        </mat-card-content>
        <div>
            <button mat-button class="backbutton" (click)="back()">back</button>
            <button mat-button class="budget-sub-category-master-button" (click)="budgetSubCategoryMaster()">Sub
                Category
                Master</button>
        </div>
    </mat-card>

</div>
<br><br>
<app-sub-category-view></app-sub-category-view>