.budget-sub-category-master-button {

    width: 215px !important;

    margin: 15px 0 2rem 0;


    background-color: #004DA8;
}


mat-card-title {

    margin-bottom: 25px;

}

.close.mat-button {
    position: inherit;
    top: 0;
    right: 0;
    padding: 2px;
    line-height: 3px;
    min-width: auto;
}

.dialog {
    display: flex;
    flex-direction: column;
}