@import '/src/scss/base';
.budget-sub-category-master-button {

    width: 215px !important;

    margin: 15px 0 2rem 0;


    background-color: #004DA8;
}


mat-card-title {

    margin-bottom: 25px;

}

.close.mat-button {
    position: inherit;
    top: 0;
    right: 0;
    padding: 2px;
    line-height: 3px;
    min-width: auto;
}

.dialog {
    display: flex;
    flex-direction: column;
}
.backbutton{
    margin: 10px 20px  2rem 0;
    background-color: #004DA8;

}
.view-table {
    // margin: 0 3px 0 3px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
     background-color: white;
    margin: 0 210px 0 130px;
 
 
 td,
 th {
     border: 1px solid #dddddd;
    text-align: left;

 }
} 
.paginator{
    width:80%;
    margin: 0 210px 0 130px;
 }
 .delete-icon {
    color: $c-primary-mandatory-field;
    font-size: 23px;
   }
   
   .view-icon {
        color: $c-primary-mandatory-field1;
        font-size: 23px;
   }
   