<app-navbar></app-navbar>
<div>
    <mat-form-field appearance="outline" class="search">
      <input matInput type="search" placeholder="Search" class="matInput" (input)="searchEmployee(searchInput.value)"#searchInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="employee-list">
      <mat-label>All Employee</mat-label>
      <mat-error>Please fill this field</mat-error>
      <mat-select class="select-mat-input">
        <mat-option *ngFor="let employee of employee" [value]="employee.value">
          {{employee.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-button class="add-employee" (click)="addBudgetCategory()">Add Budget Category</button>
  </div>
  <table class="mat-elevation-z8">
    <tr>
      <!-- <th *ngFor="let tableHead of tableHead">{{ tableHead}}</th> -->
    </tr>
    <!-- <tr *ngFor="let data of activeEmployeeData">
      <td>{{ data.id}}</td>
      <td>{{ data.firstName}}</td>
      <td>{{ data.departmentName}}</td>
      <td>{{ data.workMail}}</td>
      <td>{{ data.annualCtc}}</td>
      <td><mat-icon class="view-icon" [routerLink]="['/view-employee/'+data.id]" (click)="getActiveEmployeeDetails()">preview</mat-icon></td>
      <td><mat-icon class="delete-icon" (click)="deleteEmployee(data)">delete_forever</mat-icon></td>
    </tr> -->
  </table>
  
