@import'../../../scss//base';

.landing_page_logo {
    font-size: $h1-font-size;
    margin-left: 2%;

}

section {
    text-align: center;

    .landing_page_heading {
        position: relative;
        margin: 5rem;
        button {
            width: 210px;
            height: 60px;
             border-radius: 50px;
            font-size: $h3-font-size;
            background-color: #004DA8;
            color: white;
            border-color: white;
        }
    }

    .landing_page_demo_img {
        background-image: url('../../../app/../assets/images/budget5.jpg');
        display: flex;
        width: 92%;
        margin-left: 8%;
         height: 370px;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}