@import'../../../scss//base';

.landing_page_logo {
    font-size: $h1-font-size;
    margin-left: 2%;

}

section {
    text-align: center;

    .landing_page_heading {
        position: relative;
        margin: 5rem;

        button {
            margin-top: 150px;
            width: 150px;
            height: 50px;
            border-radius: 50px;
            font-size: 17px;
            background-color: #004DA8;
            color: white;
            border-color: white;
        }
    }


}