.categoryMaster-button {

    width: 215px !important;

    margin: 15px 0 2rem 0;

    background-color: #004DA8;
}


mat-card-title {
    margin-bottom: 25px;
}

.btn-close {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-bottom: 250px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.btn-close:hover {
    opacity: 0.9;

}

.container {
    position: relative;
}