<app-navbar></app-navbar>

<div class="center_div top">

    <mat-card class="container">

        <mat-card-header>
            <!-- title -->
            <mat-card-title>Budget Category Master</mat-card-title>

        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="budgetCategoryMasterForm" id="invoiceForm" (ngSubmit)="budgetCategoryMaster()">

                <table>

                    <tr>
                        <td>
                            <!-- Budget Category Name -->

                            <mat-label>Budget Category Name</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <input matInput formControlName="budgetCategoryName"
                                    (keypress)="keyPressAlphanumeric($event)" required>

                            </mat-form-field>

                        </td>

                    </tr>

                    <tr>

                        <td>
                            <!-- Remark -->

                            <mat-label>Remark</mat-label>

                        </td>

                        <td>

                            <mat-form-field appearance="outline">

                                <textarea matInput style="resize:vertical" formControlName="remark" (keyup)="autogrow()"
                                    rows="2" (click)="autogrow()" (keypress)="keyPressAlphanumeric($event)"
                                    required></textarea>
                                <mat-error>Minimum 4 characters required</mat-error>
                            </mat-form-field>

                        </td>


                    </tr>

                    <tr>

                        <td> <mat-checkbox formControlName="status" checked>Active</mat-checkbox></td>

                    </tr>

                </table>


                <button mat-button class="categoryMaster-button" type="submit">{{ editMode ? 'Update Budget Category' :
                    'Create Budget Category'}}</button>
            </form>

        </mat-card-content>


    </mat-card>
</div>
<br>
<br>
<mat-paginator #paginator class="paginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event)"
    [length]="budgetCategoryData?.length">
</mat-paginator>

<table class="view-table">
    <tr>
        <th *ngFor="let tableHead of tableHead">{{ tableHead }}</th>
    </tr>
    <tr *ngFor="let data of budgetCategoryData">
        <td>{{ data.id }}</td>
        <td>{{ data.budgetCategoryName }}</td>
        <td>{{ data.remark }}</td>
        <td>{{ data.activation_date }}</td>
        <td>{{ data.createdBy }}</td>
        <td>{{ data.status }}</td>

        <td><mat-icon class="view-icon" (click)="editCategory(data.id)">create</mat-icon></td>
        <td><mat-icon class="delete-icon" (click)="deleteCategory(data)">delete_forever</mat-icon></td>

    </tr>
</table>