.categoryMaster-button {

    width: 215px !important;

    margin: 15px 0 2rem 0;

     background-color:  #004DA8;


}


mat-card-title {
    margin-bottom: 25px;
}

 .error-msg{
    margin-top:0px;
 }
 .success{
    font-size: 20px;
    color:green;
    position: absolute;
  
    display: none;

 }
 .danger{
color:red;
 }
