<app-navbar></app-navbar>
<mat-stepper [linear]="isLinear" #stepper class="stepper">
  <mat-step>
    <ng-template matStepLabel>Budget Category</ng-template>
    <app-budget-creation #createBasicInfoComponent></app-budget-creation>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Budget Creation</ng-template>
    <app-budget-creation #budgetCreationComponent></app-budget-creation>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Generate PO</ng-template>
    <app-po-generate #generatePOComponent></app-po-generate>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Generate Invoice</ng-template>
    <app-invoice-generate #createPaymentInformationComponent></app-invoice-generate>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>