@import '/src/scss/base';

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

// .add-category {
//     //   background-color: $c-cyan-azure;
//     // margin-left: 550px;

//     width: 215px !important;

//     margin: 28px 0 2rem 250px;

//     background-color: #004DA8;
// }

// .delete-category {
//     background-color: $c-cyan-azure;
// }

// .search {
//     margin: 0px 0 0 10px;
//     width: 400px;
// }

// // .matInput {
// //     margin-top: 10px;
// // }

// // .mat-icon {
// //     font-size: large;
// // }

// .delete-icon {
//     color: $c-primary-mandatory-field;
//     font-size: $h4-font-size;
// }

// .view-icon {
//     color: $c-primary-mandatory-field1;
//     font-size: $h3-font-size;
//     margin-top: 1px;
// }

// table {

//     font-family: arial, sans-serif;
//     border-collapse: collapse;
//      width: 50%;
//     background-color: white;
//      margin: 0 25px 0 310px;
//    ;

// }

// td,
// th {
//     border: 1px solid #dddddd;
//     text-align: align;

// }

// tr:nth-child(even) {
//     background-color: #dddddd;
// }