<header></header>
<div class="center_div top">
    <mat-card class="container">
        <mat-card-header>
            <mat-card-title>Budget Category Creation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createBudgetCategoryForm" id="budgetCategoryForm">
                <table>
                    <tr>
                        <td>
                            <mat-label>Budget Category</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="budgetCategoryName" required>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-label>Budget Sub-Category</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="budgetSubCategoryName" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-label>Budget Description</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="budgetDescription" required>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-label>Vendor Name</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="vendorName" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-label>Email Id</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="email" type="email" maxlength="30"
                                    pattern=".+@*\.*">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-label>Remark</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="remark" required>
                            </mat-form-field>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <mat-label>Mobile Number</mat-label>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="mobileNumber" required >
                            </mat-form-field>
                        </td>
                        
                        <td>
                            <mat-label>Modify By</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="modifyBy" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        
                        <td>
                            <mat-label>Created By</mat-label>
                        </td>
                        <td>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="createdBy" required>
                            </mat-form-field>
                        </td>
                        
                        
                        <td>
                            <mat-label>Modified Date</mat-label>
                        </td>
                        <td>
                            <!-- <mat-form-field appearance="outline">
                                <input matInput formControlName="createdDate" required>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline" class="datepicker">
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="createdDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                        </td>
                        <!-- mobile number -->
                        
                    </tr>
                    <tr>
                        <td>
                            <mat-label>Created Date</mat-label>
                        </td>
                        <td>
                            <!-- <mat-form-field appearance="outline">
                                <input matInput formControlName="createdDate" required>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline" class="datepicker">
                                <input matInput [matDatepicker]="picker2" placeholder="Choose a date" formControlName="createdDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                              </mat-form-field>
                        </td>
                        
                    </tr>
                </table>
            </form>
        </mat-card-content>
        <button mat-button style="color: white;" class="budgetCategory-button"
            (click)="budgetCategory()">Budget Category</button>
    </mat-card>
</div>
