<mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
   (page)="pageChanged($event)" [length]="budgetSubCategoryData?.length">
</mat-paginator>

  <table class="mat-elevation-z8">
    <tr>
      <th *ngFor="let tableHead of tableHead">{{ tableHead}}</th>
    </tr>
    <tr *ngFor="let data of budgetSubCategoryData">
      <td>{{ data.id}}</td>
      <!-- <td>{{ data.budgetCategoryName}}</td> -->
      <td>{{ data.budgetSubCategoryName}}</td>
      <td>{{data.activation_date}}</td>
      <td>{{ data.createdBy}}</td>
      <td>{{ data.active}}</td>
      <td><mat-icon class="delete-icon" (click)="deleteCategory(data)">delete_forever</mat-icon></td>
    </tr>
  </table>
  
