<mat-toolbar>
  <mat-toolbar-row>
    <span><img [src]="appLogo.PATH" id="logo" [alt]="appLogo.ALT_TEXT" class="logo" /></span>
    <span class="budget"> E-Budget</span>
    <a href="/home" class="home">Home</a>
    <a href="/view" class=home>View</a>
    <a href="/contact" class=home>Contact</a>
    <a href="/about" class="home">About</a>
    <a href="/review" class="home">Review</a>
    <span><img [src]="bajajLogo.PATH" id="bajajlogo" [alt]="appLogo.ALT_TEXT" class="bajajlogo" /></span>
  </mat-toolbar-row>
</mat-toolbar>