<div class="menu-bar">
  <ul>
    <li class="active"><a routerLink="/excelSheet">Home</a></li>
    <li><a href="/budgetCategoryMaster">Budget Category</a></li>
    <li><a href="/budgetSubCategoryMaster">Budget Sub-category</a></li>
    <li><a href="/vendorMaster">Vendor Master</a></li>
    <li><a routerLink="/budgetCreation">Budget Creation</a></li>
    <li><a routerLink="/generatePO">Create PO</a></li>
    <li><a routerLink="/generateInvoice">Create Invoice</a></li>
  </ul>
</div>

<div>
  <router-outlet></router-outlet>
</div>