

.mat-toolbar {
   background-color: #004DA8;
}

.budget {
   color: white;
   font-size: 25px;
}

#logo {
   width: 30px;
   height: 30px;
   margin: 9px 0 0 5px;
}
#bajajlogo{
   width: 150px;
   height: 50px;
   margin: 9px 0 0 20px;
  
}
.profile{
   margin: 9px 0 0 900px;
   color: white;
   font-size: 17px;
}

.loginButton{
   margin: 9px 0 0 20px;
   color: white;
   font-size: 17px;
}