.mat-toolbar {
   background-color: #004DA8;
}

.budget {
   color: white;
   font-size: 25px;
}

#logo {
   width: 18px;
   height: 18px;
   margin: 9px 4px 0 5px;
}

#bajajlogo {
   width: 100px;
   height: 30px;
   margin: 9px 0 0 20px;
}


.loginButton {
   margin: 7px 10px 0 970px;
   color: white;
   font-size: 17px;
}